body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* header */
header {
  background-color: #2a1ee926;
  margin-top: 0%;
  margin-bottom: 10px;
  text-align: center;
  height: 100%;
}

#titleHeader {
  color: #444444;
  margin-top: 0%;
}

/* game container style */
#gameContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* the Ball configuration */
#theBall {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, #545252, #000);
}

#theBallDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-color: #ffffff96;
  border-radius: 50%;
  width: 45%;
  height: 45%;
  transform: rotate(180deg);
background: black;
  /* background: radial-gradient(circle at 49px 52px, #302e2e, #1d1919b5); */
}

/* #theBallText */
#theBallText {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 75px 110px 75px;
  border-color: transparent transparent #0025ff transparent;
  float: left;
}

#theBallText p {
  text-align: center;
  color: #7fd5fd;
  transform: rotate(180deg);
  top: 15px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}

#buttnSAB {
  margin-top: 2%;
}

/* footer style things */
footer {
  background-color: #2a1ee926;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  color: #444444;
}

#aboutAuthor {
  text-align: center;
  width: 100%;
}

#socialMedia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0%;
}

#sMI {
  width: 5%;
  padding: 0px 5% 0px 5%;
}

li {
  list-style-type: none
}

li img {
  width: 100%
}
